<ion-header [translucent]="true">
  <ion-toolbar style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;">
      <img src="assets/img/ginastica.png" alt="Logo" style="max-width: 45px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <form (submit)="resetPassword()">
      <h1>Redefinir Senha</h1>
      <div class="input-box">
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required> 
        <img src="assets/img/user.png" class="img-user" alt="User" style="max-width: 20px;"> 
      </div>
      <button type="submit" class="btn">Enviar</button>
    </form>
  </div>  
</ion-content>

<ion-footer>
  <div class="nav-mobile">
    <a href="/home" class="nav-link">
      <ion-icon name="home-outline" style="color: #01A5B1; max-width: 25px;"></ion-icon>
    </a>
  </div>
</ion-footer>
